<p>parent works!</p>

<div>
    <input type="text" [(ngModel)]="simpleValue">
</div>
<div>
    <input type="text" [(ngModel)]="secondSimpleValue">
</div>
<div>
    <input type="button" value="change value of multiple properties at the same time" (click)="changeMultipleValue()">
</div>
<div>
    <span>Array</span>
    <input type="text" [(ngModel)]="arraySimpleValueSubject">
    <input type="button" value="Change arraySimpleValue" (click)="changeArraySimpleValue()">
    <input type="button" value="Change arraySimpleValue object" (click)="changeArraySimpleValueObject()">
</div>
<div>
    <span>Simple Object</span>
    <input type="text" [(ngModel)]="simpleObjectValue.name">
    <input type="text" [(ngModel)]="simpleObjectValue.age">
    <input type="button" value="Change simpleObject" (click)="ChangeSimpleObject()">
</div>
<div>
    <span>Deep Object</span>
    <input type="text" [(ngModel)]="deepObjectValue.simpleProperty">
    <input type="text" [(ngModel)]="deepObjectValue.objectProperty.name">
    <input type="text" [(ngModel)]="deepObjectValue.objectProperty.age">
    <input type="button" value="Change objectProperty" (click)="ChangeObjectProperty()">
    <input type="button" value="Change arrayObjectProperty" (click)="ChangeArrayObjectProperty()">
</div>
<div>
    <span>Simple Object With Observable</span>
    <input type="text" [(ngModel)]="simpleObjectValueSubject.name">
    <input type="text" [(ngModel)]="simpleObjectValueSubject.age">
    <input type="button" value="Change simpleObject property with observable" (click)="ChangeSimpleObjectPropertyWithObservable()">
</div>
<div>
    <span>Input and Output demo</span>
</div>
<div>
    <input type="text" [(ngModel)]="simpleInputValue">
</div>
<div>
    <input type="button" value="changeDisplayFn" (click)="changeDisplayFn()">
    <input type="button" value="changeDisplayFnWithChildProperty" (click)="changeDisplayFnWithChildProperty()">
    <input type="button" value="changeDisplayFnWithParentProperty" (click)="changeDisplayFnWithParentProperty()">
</div>
<div>
    <app-child
        [childSimpleValue]="simpleValue"
        [childSecondSimpleValue]="secondSimpleValue"
        [childSimpleObjectValue]="simpleObjectValue"
        [childSimpleObjectValueName]="simpleObjectValue.name"
        [childArraySimpleValue]="arraySimpleValue"
        [childDeepObjectValue]="deepObjectValue"
        [childSimpleObjecObservable]="simpleObjectValue$"
        [ChildSimpleInputBindingName]="simpleInputValue"
        [ChildDisplayFn]="displayFn"
    ></app-child>
</div>
