<p>child works!</p>

<div>
    <input type="text" [(ngModel)]="childSimpleValue">
</div>

<div>
    <input type="text" [(ngModel)]="innerSimpleValueSubject">
    <input type="button" value="Change the value of inner property" (click)="changeInnerValue()">
</div>

<div>
    <span>Array</span>
    <span>{{childArraySimpleValue.join('-')}}</span>
</div>

<div>
    <span>Simple Object</span>
    <input type="text" [(ngModel)]="childSimpleObjectValue.name">
    <input type="text" [(ngModel)]="childSimpleObjectValue.age">
</div>

<div>
    <span>Deep Object</span>
    <input type="text" [(ngModel)]="childDeepObjectValue.simpleProperty">
    <input type="text" [(ngModel)]="childDeepObjectValue.objectProperty.name">
    <input type="text" [(ngModel)]="childDeepObjectValue.objectProperty.age">
    <span>{{childDeepObjectValue.arrayObjectProperty.join('-')}}</span>
</div>

<div>
    <span>Simple Object With Observable</span>
    <span>{{(childSimpleObjectValue$| async).name}}</span>
    <span>{{(childSimpleObjectValue$| async).age}}</span>
</div>
