<p>rxjs works!</p>
<div>
    <input type="button" value="createWithOf" (click)="createWithOf()">

    <input type="button" value="createWithInterval" (click)="createWithInterval()">

    <input type="button" value="createWithFromEvent" (click)="createWithFromEvent()">

    <input type="text" id="test">

    <input type="button" value="operationWithMap" (click)="operationWithMap()">

    <input type="button" value="catchErrorThings" (click)="catchErrorThings()">

    <input type="button" value="mapAndTap" (click)="mapAndTap()">

    <input type="button" value="multipleObservers" (click)="multipleObservers()">

    <input type="button" value="subscribe" (click)="subscribe()">

    <input type="button" value="debounce" (click)="debounce()">

    <div>
        <input type="button" value="bindSubScriber1" (click)="bindSubScriber1()">

        <input type="button" value="bindSubScriber2" (click)="bindSubScriber2()">

        <input type="button" value="changeBasicValueSubject" (click)="changeBasicValueSubject()">
    </div>
</div>
