<p>rxjs works!</p>
<div>
    <input type="button" value="createWithOf" (click)="createWithOf()">
    <br>

    <input type="button" value="createWithInterval" (click)="createWithInterval()">
    <br>

    <input type="button" value="createWithFromEvent" (click)="createWithFromEvent()">
    <br>
    <input type="text" id="test">
    <br>

    <input type="button" value="operationWithMap" (click)="operationWithMap()">
    <br>

    <input type="button" value="catchErrorThings" (click)="catchErrorThings()">
    <br>

    <input type="button" value="mapAndTap" (click)="mapAndTap()">
    <br>

    <input type="button" value="multipleObservers" (click)="multipleObservers()">
    <br>

    <input type="button" value="subscribe" (click)="subscribe()">
    <br>
</div>
